@import 'variables';

.joke {
  margin-top: 40px;
  padding: 50px 27px 50px 41px;
  background-color: $secondaryBackgroundColor;
  border-radius: 20px;
  display: flex;
  position: relative;

  &__edit {
    position: absolute;
    bottom: 20px;
    left: 100px;
    cursor: pointer;
    background: linear-gradient(to bottom, #ff9800 0%, #ff9800 100%) 0 100%
      repeat-x;
    background-size: 4px 4px;
    font-size: 11px;
    color: $primaryTextColor;
    transition: background-size 0.4s;
    padding: 2px 7px;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 4px;

    &_favorite {
      bottom: 24px;
      left: 17px;
      font-size: 11px;
      padding: 2px 5px;
      letter-spacing: 2px;
    }

    &:hover {
      background-size: 4px 50px;
    }
  }

  &_dark-theme {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 45px 21px 19px 22px;
    background-color: $primaryBackgroundColor;
    border: 1px solid $secondaryBackgroundColor;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  &__heart {
    position: absolute;
    top: 40px;
    right: 38px;
    cursor: pointer;
    transition: 0.2s;

    mat-icon {
      color: #ff6767;
      font-size: 1.5rem;
      transition: 0.3s;
    }

    &_disabled {
      mat-icon {
        color: $primaryTextColor;
      }

      &-favorite {
        top: 21px;
        right: 19px;
      }
    }

    &:hover mat-icon {
      transform: scale(1.15);
    }

    &_filled {
      top: 21px;
      right: 19px;
    }
  }

  &__message-icons {
    display: flex;
    flex-direction: column;
  }

  &__message-icon {
    flex-shrink: 0;
    padding: 10px;
    margin-right: 19px;
    background-color: $primaryBackgroundColor;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-top: 4px;

    &_dark {
      background-color: $secondaryBackgroundColor;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &__content {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-id {
      color: $secondaryTextColor;
      font-weight: 500;
      font-size: 10px;

      & a {
        text-decoration: underline;
        color: $linkTextColor;
        cursor: pointer;
        &:hover {
          color: $accentBackgroundHoverColor;
        }
      }
    }

    &-body {
      font-size: 18px;
      line-height: 26px;
      color: $primaryTextColor;
      margin-top: 5px;

      &_small {
        line-height: 20px;
        font-size: 14px;
      }
    }

    &-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 22px;
      margin-bottom: 5px;

      &_date {
        font-size: 10px;
        color: $secondaryTextColor;
      }
    }
  }
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.icon {
  padding: 10px;
  margin-right: 19px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-bottom: 3px;

  &_edit {
    transform: translate(-7%, -7%);
    color: $secondaryTextColor;
    transition: 0.3s;

    &:hover {
      color: rgb(231, 209, 4);
    }
  }

  &_delete {
    transform: translate(-7%, -7%);
    color: $secondaryTextColor;
    transition: 0.3s;

    &:hover {
      color: rgb(255, 60, 0);
    }
  }
}

@media (max-width: 1179px) {
  .joke__content_body {
    margin-right: 50px;

    &_small {
      font-size: 14px;
    }
  }

  .joke_dark-theme {
    border-radius: 10px;
    padding: 43px 21px 19px 20px;
  }
}

@media (max-width: 420px) {
  .joke {
    padding: 40px 27px 20px 21px;

    &__heart {
      top: 17px;
      right: 20px;
    }

    &__content-details {
      flex-wrap: wrap;
      margin-top: 29px;
      margin-bottom: 5px;

      &_date {
        margin-bottom: 10px;
      }
    }

    &_dark-theme {
      padding: 42px 19px 2px;
    }
  }
}
