<div class="jokes">
    <div class="jokes__container container__left">
        <div class="jokes__header">
            <h5 class="jokes__abbr">MSI 2020</h5>
            <a class="jokes__burger-btn" href="#" (click)="onToggleSidebar()"
                [ngClass]="{'jokes__burger-btn_active': showSidebar}"><span></span>Favourite</a>
        </div>

        <app-joke-form></app-joke-form>

        <div *ngFor="let joke of jokes">
            <app-joke-card [joke]="joke"></app-joke-card>
        </div>
    </div>
</div>