.jokes {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__burger-btn {
        display: none;
    }

    &__abbr {
        font-weight: bold;
        font-size: 20px;
        color: #333333;
        margin-top: 3px;
    }
    &__description {
        margin-top: 84px;
    }

    &__title {
        font-weight: bold;
        font-size: 32px;
        color: #333333;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 24px;
        color: #333333;
        margin: 12px 0;
    }

    &__button {
        margin-top: 17px;
    }

    &__description-controls {
        display: flex;
        flex-direction: column;
        margin-top: 45px;

        & .control {
            position: relative;
            overflow-y: hidden;
            margin-top: 10px;
            margin-bottom: 6px;
            font-size: 18px;
            color: #333333;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            transition: 0.3s;

            label {
                cursor: pointer;
            }

            &__radio-btn {
                cursor: pointer;
                margin-right: 15px;
                width: 20px;
                height: 20px;
                border: 2px solid #ababab;
                background-color: white;
                border-radius: 50%;
                position: relative;

                &::after {
                    content: "";
                    display: none;
                    position: absolute;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    width: 10px;
                    height: 10px;
                    background: #333333;
                    transform: translateX(-50%) translateY(-50%);
                }
            }

            &__pop-up {
                width: 100%;
                margin-top: 23px;
                margin-bottom: 2px;
                display: none;
                transform: translateX(-100%);

                &_search {
                    margin-top: 20px;
                    margin-bottom: 0px;
                }

                .search-form {
                    cursor: default;
                    margin-top: 3px;
                    border: 2px solid #333333;
                    border-radius: 10px;
                    outline: none;
                    width: 100%;
                    padding: 8px 15px;
                    font-size: 16px;
                    line-height: 22px;
                }
            }

            input[type="radio"] {
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                opacity: 0;
                z-index: 3;

                &:checked ~ .control__pop-up {
                    animation: slide-in 0.5s forwards;
                    display: flex;
                    flex-wrap: wrap;
                }

                &:checked + .control__radio-btn::after {
                    display: block;
                }

                &:checked + .control__radio-btn {
                    border: 2px solid #333333;
                }
            }
        }
    }
}

@keyframes slide-in {
    100% {
        transform: translate(0, 0);
    }
}

@media (max-width: 1179px) {
    .jokes {
        position: relative;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__abbr {
            font-size: 20px;
            padding: 0;
            padding-bottom: 11px;
        }

        &__burger-btn {
            position: absolute;
            top: 0;
            right: 41px;
            display: block;
            display: flex;
            align-items: center;
            color: #ababab;
            font-weight: 500;
            font-size: 20px;
            z-index: 200;

            span {
                margin-right: 10px;
                display: block;
                height: 28px;
                width: 28px;
                border-radius: 50%;
                background-color: #333333;
                position: relative;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    left: 7px;
                    right: 7px;
                    height: 2px;
                    border-radius: 2px;
                    background-color: #fff;
                    transition: 0.3s;
                }

                &::before {
                    top: 10px;
                    bottom: 16px;
                }

                &::after {
                    top: 16px;
                    bottom: 10px;
                }
            }

            &_active span:before {
                transform: translateY(3px) rotate(45deg);
            }

            &_active span:after {
                transform: translateY(-3px) rotate(-45deg);
            }
        }
    }
}

@media (max-width: 420px) {
    .jokes__burger-btn {
        right: 21px;
    }

    input[type="radio"]:checked ~ .control__pop-up {
        margin-bottom: 0;
    }
}
