<mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab label="Add">
        <div class="example-small-box mat-elevation-z4">
            <div class="form__container">
                <app-modify-form></app-modify-form>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Edit">
        <div class="example-large-box mat-elevation-z4">
            <!-- <app-modify-form></app-modify-form> -->
        </div>
    </mat-tab>
    <mat-tab label="Delete">
        <div class="example-large-box mat-elevation-z4">
            <!-- <app-modify-form></app-modify-form> -->
        </div>
    </mat-tab>
</mat-tab-group>

<button mat-raised-button color="primary" routerLink="/">Go Back</button>
