<form class="form-modify" [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field *ngIf="updateJokeMode" class="form__field">
    <mat-label>Joke ID</mat-label>
    <input matInput type="number" placeholder="0" value="id" formControlName="id" />
  </mat-form-field>

  <mat-form-field class="form__field">
    <mat-label>Joke message</mat-label>
    <textarea matInput placeholder="Chuck Norris..." formControlName="value" cdkTextareaAutosize cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="10"></textarea>
    <mat-error *ngIf="form.get('value').invalid">You must enter a value</mat-error>
  </mat-form-field>

  <mat-expansion-panel class="mat-elevation-z0" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Joke images
      </mat-panel-title>
      <mat-panel-description>
        Click to {{panelOpenState ? 'close' : 'add'}} images
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="form__field upload-file__container" appDragDrop (fileDropped)="onChange($event)">
      <p class="form__field form__field_center">Drag and drop your images here:</p>
      <input hidden type="file" #fileInput formControlName="imageNames" (change)="onChange($event.target.files)"
        multiple>
      <div class="form__field form__field_center browse">
        <p>or</p>
        <button mat-stroked-button color="accent" (click)="fileInput.click()" type="button">Browse for file</button>
      </div>
    </div>
    <div class="files-list" *ngFor="let file of fileList">
      <span> {{ file.name }} </span>
    </div>
  </mat-expansion-panel>

  <mat-form-field>
    <mat-label>Categories</mat-label>
    <mat-select formControlName="categories" multiple>
      <mat-select-trigger>
        {{form.get('categories').value ? form.get('categories').value[0] : ''}}
        <span *ngIf="form.get('categories').value?.length > 1" class="example-additional-selection">
          (+{{form.get('categories').value.length - 1}}
          {{form.get('categories').value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let category of categories" [value]="category.title">{{category.title}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="form__field form__field_center">
    <button mat-raised-button color="primary" type="submit">
      {{ updateJokeMode ? 'Update Joke' : 'Create Joke' }}
    </button>
  </div>
</form>
