<div class="authentication" [ngClass]="{'authentication_white': pageIsLoading}">
  <div *ngIf="!pageIsLoading" class="modal">
    <div class="modal__title">Chuck<span>Jokes</span></div>
    <div class="modal__subtitle">
      <h4>Login to your account</h4>
    </div>
    <div *ngIf="errorMessage" class="modal__error">{{errorMessage}}</div>
    <app-auth-form (submitForm)="login($event)"></app-auth-form>
    <p>or</p>
    <a routerLink="/register">Register</a>
  </div>
  <app-square-spinner *ngIf="pageIsLoading"></app-square-spinner>
</div>
