@import "variables";

.joke {
  &__description {
    margin-top: 20px;
  }

  &__buttons {
    position: relative;

    .spinner {
      position: absolute;
      display: inline;
      top: -40%;
      left: 55%;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    color: $primaryTextColor;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 24px;
    color: $primaryTextColor;
    margin: 12px 0;
  }

  &__button {
    margin-top: 30px;
    max-width: 200px;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &:disabled {
      background-color: $primaryTextColor;
      cursor: not-allowed;
    }
  }

  &__description-controls {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    & .control {
      position: relative;
      margin-top: 10px;
      margin-bottom: 6px;
      font-size: 18px;
      color: $primaryTextColor;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      transition: 0.3s;

      label {
        cursor: pointer;
      }

      &__invalid {
        position: absolute;
        bottom: -26px;
        left: 15px;
        color: tomato;
      }

      &__radio-btn {
        cursor: pointer;
        margin-right: 15px;
        width: 20px;
        height: 20px;
        border: 2px solid $secondaryTextColor;
        background-color: $primaryBackgroundColor;
        border-radius: 50%;
        position: relative;

        &::after {
          content: "";
          display: none;
          position: absolute;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          width: 10px;
          height: 10px;
          background: $primaryTextColor;
          transform: translateX(-50%) translateY(-50%);
        }
      }

      &__pop-up {
        width: 100%;
        margin-top: 23px;
        margin-bottom: 2px;

        &_search {
          margin-top: 20px;
          margin-bottom: 0px;
        }

        &_category {
          display: flex;
          flex-wrap: wrap;

          .category__container {
            margin-bottom: 20px;
          }

          input[type="radio"]:checked+label {
            background-color: $secondaryBackgroundColor;
            color: $primaryTextColor;
          }
        }

        .search-form {
          cursor: default;
          margin-top: 3px;
          border: 2px solid $primaryTextColor;
          border-radius: 10px;
          outline: none;
          width: 100%;
          padding: 8px 15px;
          font-size: 16px;
          line-height: 22px;
        }
      }

      input[type="radio"] {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        opacity: 0;
        z-index: 3;

        &:checked+.control__radio-btn::after {
          display: block;
        }

        &:checked+.control__radio-btn {
          border: 2px solid $primaryTextColor;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  input[type="radio"]:checked~.control__pop-up {
    margin-bottom: 0;
  }
}
