<mat-toolbar class="header_toolbar">
  <span>Chuck<span class="header_blue">Jokes</span></span>
  <button mat-raised-button color="primary" routerLink="/">Go Back</button>
</mat-toolbar>

<div class="joke__container">
  <mat-card>
    <app-modify-joke-form [updateJokeMode]="true" (submitForm)="onJokeUpdate($event)" [joke]="joke">
    </app-modify-joke-form>
  </mat-card>

  <div *ngIf="updatedJoke" class="joke-card__conatiner">
    <app-joke-card *ngFor="let joke of updatedJoke" [joke]="joke" [isFavorites]="false"></app-joke-card>
  </div>
</div>
