@import 'variables';

.form-modify {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  &_little-width {
    widows: 20%;
  }

  &_half-width {
    width: 50%;
  }

  &_full-width {
    width: 100%;

    #capitalize {
      text-transform: capitalize;
    }
  }
}

.joke__created {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
  color: #333333;

  &-successful {
    color: seagreen;
  }
}

.left {
  align-items: flex-start;
}

.center {
  align-items: center;
}

.right {
  align-items: flex-end;
}
