$primaryTextColor: #333333;
$secondaryTextColor: #ababab;
$tertiaryTextColor: #ffffff;
$linkTextColor: #8ea7ff;

$primaryBackgroundColor: #ffffff;
$secondaryBackgroundColor: #f8f8f8;
$accentBackgroundColor: #7291ff;
$accentBackgroundHoverColor: #6078cf;
