@import "variables";

.sidebar {
  margin: 40px;

  &__title {
    font-weight: 500;
    font-size: 20px;
    color: $secondaryTextColor;
    padding: 3px 0px 0px 2px;
  }

  &_btn {
    margin-top: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .unregister {
    margin-top: 60px;
    color: $primaryTextColor;
    text-align: center;

    &__title {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 1179px) {
  .sidebar {
    padding-top: 45px;

    &__title {
      display: none;
    }
  }
}

@media (max-width: 420px) {
  .sidebar {
    padding-top: 49px;
    margin: 20px;
  }
}
