<div class="sidebar">
    <h2 class="sidebar__title">Favourite</h2>

    <div class="no-jokes" *ngIf="!favoriteJokes.length; else jokes">
        <img src="assets/images/empty.svg" alt="no-favorites">
        <p class="no-jokes__title">Please, add some jokes to favorites</p>
    </div>

    <ng-template #jokes>
        <app-joke-card *ngFor="let joke of favoriteJokes.slice(0,3)" [joke]="joke" [favorites]="true">
        </app-joke-card>
        <button class="sidebar_btn btn" routerLink="/favorites">
            Go to all Favorites
        </button>
    </ng-template>
</div>