<div class="authentication">
    <div class="modal">
        <div class="modal__title">Chuck<span>Jokes</span></div>
        <div class="modal__subtitle">
            <h4>Reset your password</h4>
        </div>
        <mat-card *ngIf="notificationMessage">
            <p>{{notificationMessage}}</p>
        </mat-card>
        <app-auth-form (submitForm)="forgotPassword($event)" [forgotPasswordMode]="true"></app-auth-form>
        <p>or</p>
        <a routerLink="/login">Go back</a>
    </div>
</div>
