// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$chuck-jokes-app-primary: mat-palette($mat-indigo);
$chuck-jokes-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$chuck-jokes-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$chuck-jokes-app-theme: mat-light-theme((color: (primary: $chuck-jokes-app-primary,
      accent: $chuck-jokes-app-accent,
      warn: $chuck-jokes-app-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($chuck-jokes-app-theme);

@import "normalize";
@import "fonts";
@import "global";
@import "variables";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container__left {
  max-width: 758px;
  padding: 0 40px;
  margin: 40px auto;
  margin-bottom: 0;
}

.joke__container {
  height: 100%;
  max-width: 600px;
  display: grid;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.category {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $primaryTextColor;
  padding: 6px 20px;
  background-color: $primaryBackgroundColor;
  border-radius: 6px;
  margin-right: 9px;
  margin-top: 2px;

  &_hidden {
    display: none;
  }

  &_dark {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $primaryTextColor;
    padding: 6px 20px;
    background-color: $secondaryBackgroundColor;
    border-radius: 6px;
  }

  &_big {
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    margin-right: 8px;
    margin-bottom: 4px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $secondaryTextColor;
    padding: 6px 13px;
    background-color: $primaryBackgroundColor;
    border: 2px solid $secondaryBackgroundColor;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: $secondaryBackgroundColor;
      color: $primaryTextColor;
    }

    &-active {
      background-color: $secondaryBackgroundColor;
      color: $primaryTextColor;
    }
  }
}

.btn {
  font-weight: bold;
  font-size: 16px;
  color: $tertiaryTextColor;
  border: none;
  outline: none;
  padding: 12px 40px;
  background-color: $accentBackgroundColor;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: $accentBackgroundHoverColor;
  }
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 40px;
}

.flex {
  display: flex;
}

.flex_wrap {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

input.ng-invalid.ng-touched {
  border: 1px solid tomato;
}

.no-jokes {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 40px;
  padding: 0 20px;

  img {
    max-width: 80px;
  }

  &__title {
    margin-top: 10px;
    color: $secondaryTextColor;
  }
}

.authentication {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  background-color: #2e323e;
  display: flex;
}

.modal {
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  max-width: 400px;

  &__title {
    text-align: center;
    font-size: 2.5rem;
    padding: 20px;

    span {
      color: $accentBackgroundColor;
    }
  }

  &__subtitle {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
  }

  p {
    margin: 10px 0;
  }

  a {
    color: $accentBackgroundColor;
    transition: 0.3s;

    &:hover {
      text-decoration: underline;
      color: $accentBackgroundHoverColor;
    }
  }

  &__error {
    color: tomato;
  }
}

.form {
  &_full-width {
    width: 100%;
  }

  &_half-width {
    width: 50%;
  }

  &_center {
    text-align: center;
  }
}

@media (max-width: 834px) {
  .container__left {
    max-width: 833px;
  }
}

@media (max-width: 420px) {
  .container__left {
    margin: 20px auto;
    padding: 0 20px;
  }
}
