@import "normalize";
@import "fonts";
@import "global";
@import "variables";

.container__left {
    max-width: 758px;
    padding: 0 40px;
    margin: 40px auto;
}

.category {
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $primaryTextColor;
    padding: 6px 20px;
    background-color: $primaryBackgroundColor;
    border-radius: 6px;
    margin-right: 9px;
    margin-top: 2px;

    &_hidden {
        display: none;
    }

    &_dark {
        font-weight: 500;
        font-size: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $primaryTextColor;
        padding: 6px 20px;
        background-color: $secondaryBackgroundColor;
        border-radius: 6px;
    }

    &_big {
        border-radius: 6px;
        font-weight: 500;
        font-size: 12px;
        margin-right: 8px;
        margin-bottom: 4px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $secondaryTextColor;
        padding: 6px 13px;
        background-color: $primaryBackgroundColor;
        border: 2px solid $secondaryBackgroundColor;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: $secondaryBackgroundColor;
            color: $primaryTextColor;
        }

        &-active {
            background-color: $secondaryBackgroundColor;
            color: $primaryTextColor;
        }
    }
}

.btn {
    font-weight: bold;
    font-size: 16px;
    color: $tertiaryTextColor;
    border: none;
    outline: none;
    padding: 12px 40px;
    background-color: $accentBackgroundColor;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background: $accentBackgroundHoverColor;
    }
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 40px;
}

@media (max-width: 834px) {
    .container__left {
        max-width: 833px;
    }
}

@media (max-width: 420px) {
    .container__left {
        margin: 20px auto;
        padding: 0 20px;
    }
}
